#!/bin/bash

alias ll="ls -lah"
alias dir="ls -lah"
alias vi=vim

# rails
alias sander='rails console --sandbox'

# git
alias gp='git push origin `git head`'

# hub
if [ -f /usr/local/bin/hub ]; then
	alias git='hub'
	alias git-pr='hub pull-request --edit'
fi
