#!/bin/bash

alias ll="ls -lah"
alias dir="ls -lah"
alias vi=vim

# rails
alias sander='rails console --sandbox'

# git
alias gp='git push origin `git head`'
alias gpu='git push --set-upstream origin `git head`'

# hub
if [ -f /usr/local/bin/hub ]; then
  alias git='hub'
  alias git-pr='hub pull-request --edit'
fi

alias rem="~/.cargo/bin/rem-cli"

alias gsup='git branch --set-upstream-to=origin/`git head` `git head`'

# alias cat='bat --theme Nord -n'
# alias cat='bat --theme GitHub -n'

alias inflate="ruby -r zlib -e \"STDOUT.write Zlib::Inflate.inflate(STDIN.read)\""

alias k="kubectl"

alias ca="code --add ."
alias cad="code --add"
