#!/bin/bash


if [ "$TERM_PROGRAM" = "vscode" ]; then
  export EDITOR="code --wait"
else
  export EDITOR=/usr/bin/vim
fi

export PATH="/usr/local/opt/findutils/libexec/gnubin:$PATH"
export PATH="/usr/local/opt/grep/libexec/gnubin:$PATH"
export PATH="/usr/local/opt/mysql@5.7/bin:$PATH"
export PATH="$(go env GOPATH)/bin:$PATH"
export PATH="$HOME/.cargo/bin:$PATH"
export PATH="/usr/local/opt/maven@3.5/bin:$PATH"
export PATH="/Users/wagnerm/Library/Android/sdk/platform-tools:$PATH"
export PATH="/Applications/Visual Studio Code.app/Contents/Resources/app/bin:$PATH"
export PATH="$HOME/.cargo/bin:$PATH"
export GO111MODULE=on
export GOPATH=$HOME/go
export REM_CLI_NOTES_PATH=~/Google\ Drive/rem_notes.txt
